* {
    box-sizing: border-box;
}

.game-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    overflow: hidden;
}

#gameBoard {
    display: grid;
    gap: 0;
    background-color: #2e2e2e;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #ffffff;
}

.cell {
    background-color: #3b3b3b;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

#buttonsContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    margin-top: 20px;
}

#colorButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.color-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.color-button:hover {
    transform: scale(1.1);
}

#colorButtons .green { background-color: rgb(0, 255, 0); }
#colorButtons .red { background-color: rgb(255, 0, 0); }
#colorButtons .blue { background-color: rgb(0, 255, 255); }
#colorButtons .yellow { background-color: rgb(255, 255, 0); }
#colorButtons .black { background-color: rgb(0, 0, 0); }
#colorButtons .magenta { background-color: rgb(255, 0, 255); }

.color-button.disabled {
    opacity: 0.2;
    pointer-events: none;
}
